---
import Layout from "../layouts/Layout.astro"
import AdminTitle from "../sections/admin/AdminTitle"
import TableSection from "../sections/admin/TableSection"
---

<Layout title="Admin - L10">
    <main class="h-screen">
       <AdminTitle/>x
       <TableSection />
    </main>
</Layout>