---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Contact - L10">
    <section
    class="contactBg flex justify-center items-center py-16 px-4 gap-8 md:h-[90vh]"
    >
        <div class="flex w-full justify-center items-center flex-wrap gap-16 max-w-screen-xl">
            <div class="w-full max-w-[400px] hero-text-shadow">
                <h2 class="mb-6 text-5xl lg:text-7xl font-bold ">Contact</h2>
                <p class="mb-6">
                    If you have any questions or would like to get more information, please fill out the form and send your message!
                </p>
                <div class="flex flex-col">
                    <p class="mb-2">Buenos Aires, Argentina</p>
                    <a href="tel:1112738922" class="mb-2">+54 11 1273 8922</a>
                    <a href="mailto:l10messi@email.com" class="mb-2"
                    >l10messi@email.com</a
                    >
                </div>
            </div>
            <form 
                class=" w-full max-w-[400px]"
                method="POST"
                id="contact-form"
            >
            <input
            type="hidden"
            name="access_key"
            value="d20c1ebe-a85e-4ed3-94ea-1b1826cb2bd4"
          />
                <div class="mb-2 flex flex-col">
                    <label for="name">Full Name </label>
                    <input
                        type="text"
                        class="bg-white focus:border-2 focus:border-[var(--gold)] border-2 border-[var(--light)] resize-none text-black p-2 rounded-md"
                        id="name"
                        name="name"
                        required
                    />
                </div>
                <div class="mb-2 flex flex-col">
                    <label for="email">Email </label>
                    <input
                        type="email"
                        class="bg-white focus:border-2 focus:border-[var(--gold)] border-2 border-[var(--light)] resize-none text-black p-2 rounded-md"
                        id="email"
                        name="email"
                        required
                    />
                </div>
                <div class="mb-6 flex flex-col">
                    <label for="message" >Message</label>
                    <textarea
                        class="bg-white focus:border-2 focus:border-[var(--gold)] border-2 border-[var(--light)] resize-none text-black p-2 rounded-md"
                        id="message"
                        rows="3"
                        name="message"
                        required
                    ></textarea>
                </div>
                <div class="flex items-center gap-4">
                    <button
                    type="submit"
                    id="submitBtn"
                    class="bg-[#E8B34B] font-bold hover:text-[#E8B34B] hover:bg-black text-black px-4 py-1 border-2 border-[#E8B34B] hover:border-[#E8B34B] transition-all duration-300 rounded"
                    >
                    Send
                </button>
                <p id="status"></p>
            </div>
            </form>
        </div>
    </section>
</Layout>

<style>
    .contactBg {
    background-image: url("/img/banda.jpg");
    background-size: cover;
    background-position: 30% 25%;
}
</style>

<script>
const status = document.querySelector("#status");
const contactForm = document.querySelector("#contact-form")
const fullName = document.querySelector("#name") as HTMLFormElement
const email = document.querySelector("#email") as HTMLFormElement
const message = document.querySelector("#message") as HTMLFormElement
    
const sendEmail = async (json) => {
  try {
    const res = await fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    });
    return res;
  } catch (error) {
    console.log(error);
    status.innerHTML = "There was an error when trying to send the email. Please try again";
  }
};


  contactForm.addEventListener("submit", async (e) => {
    e.preventDefault();
    const form = e.target as HTMLFormElement; // Cast e.target to HTMLFormElement
    const formData = new FormData(form)
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);
    status.innerHTML = "Sending...";
    const httpResult = await sendEmail(json);
    console.log(httpResult)
    if (httpResult.status === 200) {
      status.innerHTML = "Email sent!";
    } else {
      status.innerHTML = "Failed to send email. Please try again later.";
    }
    fullName.value = ""
    email.value = ""
    message.value = ""
  });
</script>