---
import Layout from '../layouts/Layout.astro';
import LogoSlider from "../components/LogoSlider";
import Hero from "../sections/home/Hero"
import CounterSection from "../sections/home/CounterSection"
import Games from "../sections/home/Games"
import Store from "../sections/home/Store"

const images = await Astro.glob("/public/img/logo-slider/*.png");
---

<Layout title="Home - L10">
		<Hero/>
		<CounterSection/>
		<Games/>
		<section class="bg-[var(--gold)]  py-6">
		 <LogoSlider images={images}/>
		</section>
		<Store/>
</Layout>