---
import InfoItemMG from "../components/InfoItemMG"
import Layout from "../layouts/Layout.astro"
import BannerMG from "../sections/meet-and-greet/BannerMG"
import FormSectionMG from "../sections/meet-and-greet/FormSectionMG"
import HeroMG from "../sections/meet-and-greet/HeroMG"
import Info from "../sections/meet-and-greet/Info"
---

<Layout title="Meet&Greet - L10">
     <HeroMG/>
    <BannerMG>
      <InfoItemMG text="Buenos Aires" icon="fa-solid fa-location-dot"/>
      <InfoItemMG text="23/10" icon="fa-solid fa-calendar-days"/>
      <InfoItemMG text="21:00hs" icon="fa-solid fa-clock"/>
     </BannerMG>
       <Info/>
      <BannerMG>
        <h3>Fill the form down below to participate!</h3>
      </BannerMG>
      <FormSectionMG/>
</Layout>

