---
import NewsCard from "../components/NewsCard.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="News - L10">
    <main>
        <!-- Hero -->
        <section
          class="flex items-center justify-center"
        >
        <div class="max-w-screen-xl flex flex-col md:flex-row w-full justify-between items-center px-4 py-16 gap-8">
          <div
            class="flex flex-col gap-4 items-start max-w-[500px] sm:max-w-[600px]"
          >
            <p class="text-[#E8B34B] font-bold">Last minute news...</p>
            <h2 class="text-4xl font-bold">
              Lionel Messi will play for Inter Miami next season
            </h2>
            <p class="text-sm">
              After a long series of rumors, the greatest player of all time has revealed that his next destination will be Inter Miami, a club owned by former English footballer David Beckham.
            </p>
            <a
              href="#"
              class="bg-[#E8B34B] font-bold hover:text-[#E8B34B] hover:bg-black text-black px-4 py-1 border-2 border-[#E8B34B] hover:border-[#E8B34B] transition-all duration-300 rounded"
              target="_blank"
              >Read More</a
            >
          </div>
          <div class="max-w-[800px]">
            <img
              src="img/miame.jpg"
              alt="Messi with Beckham"
              class="rounded-md border-2 border-[#E8B34B]"
            />
          </div>
        </div>
        </section>
  
        <!-- Novedades -->
        <section class="pb-16 px-4 flex justify-center">
            <div class="max-w-screen-xl w-full flex flex-col gap-8">
          <h2 class="text-2xl md:text-4xl font-bold text-center">
            More intereting news...
          </h2>
          <div class="flex flex-wrap justify-center gap-6 w-full">
            <NewsCard imgSrc="img/mansion.jpg" hours="8" text="Lionel Messi's luxurious house in Barcelona"/>
            <NewsCard imgSrc="img/farsa.jpg" hours="9" text="The day Messi scored with just one boot"/>
            <NewsCard imgSrc="img/roja.jpg" hours="10" text="Did you know Messi was sent off in his debut?"/>
            <NewsCard imgSrc="img/diego.jpeg" hours="12" text="Lionel's tribute to Diego Armando Maradona"/>
          </div>
        </div>
        </section>
      </main> 
</Layout>