---
import Layout from "../layouts/Layout.astro"
import Slideshow from "../components/Slideshow"
import HousePlan from "../components/HousePlan"
---

<Layout title="React">
    <div>
        <h1 class="text-4xl font-bold">REACT PAGE</h1>
        <Slideshow client:load/>
        <HousePlan client:load/>
    </div>
</Layout>