<div class="logos">


<div class="logos-slide">
    <img
      src="/img/abibas.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
    <img
      src="/img/lays.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
    <img
      src="/img/hard.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
    <img
      src="/img/papsi.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
    <img
      src="/img/ng.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
  </div>
<div class="logos-slide">
    <img
      src="/img/abibas.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
    <img
      src="/img/lays.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
    <img
      src="/img/hard.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
    <img
      src="/img/papsi.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
    <img
      src="/img/ng.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
  </div>
<div class="logos-slide">
    <img
      src="/img/abibas.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
    <img
      src="/img/lays.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
    <img
      src="/img/hard.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
    <img
      src="/img/papsi.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
    <img
      src="/img/ng.png"
      alt="logo"
      class="object-contain mx-[40px] max-w-[80px] md:max-w-[160px]"
    />
  </div>

</div>
  <style>
    @keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: flex;
    animation: 10s slide infinite linear;
}
  </style>