<div
class="border-2 rounded-md border-[#E8B34B] w-full md:max-w-[280px] overflow-hidden"
>
<div class="w-full">
  <img
    src="https://place-hold.it/300"
    alt="img noticia"
    class="w-full"
  />
</div>
<div class="p-4 flex flex-col gap-2">
  <p class="text-[0.7rem]">8 hours ago</p>
  <p class="font-bold">
    Lorem ipsum dolor sit amet consectetur.
  </p>
  <a href="#" class="text-[#E8B34B] text-sm underline"
    >Read More</a
  >
</div>
</div>